* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  color: #242323;
  outline: none;
  color: black;
}

.container-user-profile {
  display: flex;
  width: 100%;
  background-color: #F8F8F8;
  background-image: url("/assets/images/user/skylin-zurich-banner.png");
  background-repeat: repeat-x;
  margin-bottom: 14vh;
  height: auto;
}
.container-user-profile span {
  color: grey;
  font-size: 14px;
}
.container-user-profile .wrapper-menu-lc {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 3%;
}
.container-user-profile .wrapper-menu-lc .wrapper-profile-lc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-user-profile .wrapper-menu-lc .wrapper-profile-lc img {
  object-fit: contain;
  max-width: 200px;
  min-width: 100px;
}
.container-user-profile .wrapper-menu-lc .wrapper-profile-lc p {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #4C4C4C;
  margin-top: 10%;
  margin-bottom: 10%;
}
.container-user-profile .wrapper-menu-lc .reviews-menu-lc {
  cursor: pointer;
  display: flex;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: white;
  width: 100%;
  max-width: 232px;
  max-height: 46px;
  min-height: 46px;
  min-width: 200px;
  height: 100vh;
  padding-bottom: 5%;
  padding-top: 5%;
}
.container-user-profile .wrapper-menu-lc .reviews-menu-lc p {
  margin: auto;
  margin-left: 1%;
  padding-left: 5%;
}
.container-user-profile .wrapper-menu-lc .reviews-menu-lc img {
  margin-left: 4%;
}
.container-user-profile .wrapper-menu-lc .comments-menu-lc {
  display: flex;
  border-bottom: 1px solid grey;
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  max-width: 232px;
  max-height: 46px;
  min-height: 46px;
  min-width: 200px;
  height: 100vh;
  padding-bottom: 5%;
  padding-top: 5%;
  cursor: pointer;
}
.container-user-profile .wrapper-menu-lc .comments-menu-lc p {
  margin: auto;
  margin-left: 1%;
  padding-left: 5%;
}
.container-user-profile .wrapper-menu-lc .comments-menu-lc img {
  margin-left: 4%;
}
.container-user-profile .wrapper-menu-lc .restaurant-menu-lc {
  display: flex;
  border-bottom: 1px solid grey;
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  max-width: 232px;
  max-height: 46px;
  min-height: 46px;
  min-width: 200px;
  height: 100vh;
  padding-bottom: 5%;
  padding-top: 5%;
  cursor: pointer;
}
.container-user-profile .wrapper-menu-lc .restaurant-menu-lc p {
  margin: auto;
  margin-left: 1%;
  padding-left: 5%;
}
.container-user-profile .wrapper-menu-lc .restaurant-menu-lc img {
  margin-left: 4%;
}
.container-user-profile .wrapper-menu-lc .edit-profile-menu-lc {
  display: flex;
  border-bottom: 1px solid grey;
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  max-width: 232px;
  max-height: 46px;
  min-height: 46px;
  min-width: 200px;
  height: 100vh;
  padding-bottom: 5%;
  padding-top: 5%;
  cursor: pointer;
}
.container-user-profile .wrapper-menu-lc .edit-profile-menu-lc p {
  margin: auto;
  margin-left: 1%;
  padding-left: 5%;
}
.container-user-profile .wrapper-menu-lc .edit-profile-menu-lc img {
  margin-left: 4%;
}
.container-user-profile .middle-column {
  max-width: 550px;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  /*min-height: 775px;*/
}
.container-user-profile .username-mc {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: white;
  margin-bottom: 1%;
  margin-left: 2%;
}
.container-user-profile .location-mc {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 2%;
}
.container-user-profile .amount-reviews-mc {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 2%;
}
.container-user-profile .amount-comments {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 2%;
}
.container-user-profile .reviews-wrapper-mc {
  display: flex;
  background: #FFFFFF;
  flex-direction: column;
}
.container-user-profile .reviews-wrapper-mc .reviews-title-mc {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 2%;
  margin-top: 5%;
}
.container-user-profile .reviews-wrapper-mc .single-review-mc {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
.container-user-profile .reviews-wrapper-mc .single-review-mc .wrapper-review-title-date-mc {
  display: flex;
  margin-left: 2%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}
.container-user-profile .reviews-wrapper-mc .single-review-mc .wrapper-review-title-date-mc .restaurant-name-mc {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
}
.container-user-profile .reviews-wrapper-mc .single-review-mc .wrapper-review-title-date-mc .date-review-mc {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: right;
  margin-right: 3%;
}
.container-user-profile .reviews-wrapper-mc .single-review-mc .stars-review-mc {
  display: flex;
  margin-left: 2%;
  margin-bottom: 3%;
}
.container-user-profile .reviews-wrapper-mc .single-review-mc .stars-review-mc img {
  max-width: 27px;
  max-height: 24px;
}
.container-user-profile .reviews-wrapper-mc .single-review-mc .review-content-wrapper-mc {
  display: flex;
  margin-left: 2%;
  margin-bottom: 3%;
}
.container-user-profile .reviews-wrapper-mc .single-review-mc .review-content-wrapper-mc p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  margin-right: 3%;
}
.container-user-profile .reviews-wrapper-mc .single-review-mc .hr hr {
  width: 90%;
  margin: auto;
  color: lightgrey;
}
.container-user-profile .comments-wrapper-mc {
  display: flex;
  background: #FFFFFF;
  flex-direction: column;
}
.container-user-profile .comments-wrapper-mc p {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 2%;
  margin-top: 5%;
}
.container-user-profile .comments-wrapper-mc .comments-title-date-wrapper-mc {
  display: flex;
  margin-left: 2%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}
.container-user-profile .comments-wrapper-mc .comments-title-date-wrapper-mc .comments-title-mc {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
}
.container-user-profile .comments-wrapper-mc .comments-title-date-wrapper-mc .comments-date-mc {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: right;
  margin-right: 3%;
}
.container-user-profile .comments-wrapper-mc .comments-content-wrapper-mc {
  display: flex;
  margin-left: 2%;
  margin-bottom: 3%;
}
.container-user-profile .comments-wrapper-mc .comments-content-wrapper-mc p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  margin-right: 3%;
}
.container-user-profile .comments-wrapper-mc .hr hr {
  width: 90%;
  margin: auto;
  color: lightgrey;
}
.container-user-profile .restaurant-wrapper-mc {
  display: flex;
  background: #FFFFFF;
  flex-direction: column;
}
.container-user-profile .restaurant-wrapper-mc .restaurant-title {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 2%;
  margin-top: 5%;
}
.container-user-profile .restaurant-wrapper-mc .single-restaurant-mc {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  background: #FFFFFF;
}
.container-user-profile .restaurant-wrapper-mc .single-restaurant-mc .wrapper-restaurant-title-date-mc {
  display: flex;
  margin-left: 2%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
}
.container-user-profile .restaurant-wrapper-mc .single-restaurant-mc .wrapper-restaurant-title-date-mc .restaurant-name-mc {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
}
.container-user-profile .restaurant-wrapper-mc .single-restaurant-mc .wrapper-restaurant-title-date-mc .date-review-mc {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: right;
  margin-right: 3%;
}
.container-user-profile .restaurant-wrapper-mc .single-restaurant-mc .stars-review-mc {
  display: flex;
  margin-left: 2%;
  margin-bottom: 3%;
}
.container-user-profile .restaurant-wrapper-mc .single-restaurant-mc .stars-review-mc img {
  max-width: 27px;
  max-height: 24px;
}
.container-user-profile .restaurant-wrapper-mc .single-restaurant-mc .restaurant-content-wrapper-mc {
  display: flex;
  margin-left: 2%;
  margin-bottom: 3%;
}
.container-user-profile .restaurant-wrapper-mc .single-restaurant-mc .restaurant-content-wrapper-mc p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  margin-right: 3%;
}
.container-user-profile .restaurant-wrapper-mc .single-restaurant-mc .hr hr {
  width: 90%;
  margin: auto;
  color: lightgrey;
}
.container-user-profile .edit-profile-wrapper-mc {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.container-user-profile .edit-profile-wrapper-mc .edit-profile-title {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 5%;
  margin-top: 5%;
}
.container-user-profile .edit-profile-wrapper-mc .input-fields-mc div {
  margin-left: 6%;
}
.container-user-profile .edit-profile-wrapper-mc .input-fields-mc div .input-title {
  margin-top: 2%;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: grey;
}
.container-user-profile .edit-profile-wrapper-mc .input-fields-mc div input {
  margin-top: 1.5%;
  height: 2rem;
  width: 22rem;
  color: grey;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 2%;
}
.container-user-profile .edit-profile-wrapper-mc .input-fields-mc div .error-required-field-mc {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: red;
}
.container-user-profile .edit-profile-wrapper-mc .input-fields-mc div .description-input {
  width: 30rem;
  height: 5rem;
}
.container-user-profile .edit-profile-wrapper-mc .input-fields-mc div .things-i-love-input {
  width: 30rem;
  height: 2rem;
}
.container-user-profile .edit-profile-wrapper-mc .save-delete-mc {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}
.container-user-profile .edit-profile-wrapper-mc .save-delete-mc .save-editdprofile-mc {
  margin: auto;
  width: 150px;
  outline: none;
  padding: 2%;
  border-radius: 28px;
  background-color: #E47D31;
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  border: none;
  color: white;
  font-weight: normal;
}
.container-user-profile .edit-profile-wrapper-mc .save-delete-mc button {
  cursor: pointer;
}
.container-user-profile .edit-profile-wrapper-mc .save-delete-mc .button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.container-user-profile .edit-profile-wrapper-mc .save-delete-mc p {
  margin: auto;
  color: red;
  font-size: 16px;
}
.container-user-profile .right-column {
  margin-top: 10%;
}
.container-user-profile .right-column .title-about-rc {
  margin-left: 3%;
  margin-bottom: 3%;
}
.container-user-profile .right-column .title-about-rc p {
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}
.container-user-profile .right-column .location-rc {
  margin-left: 3%;
}
.container-user-profile .right-column .location-rc .title-rc {
  margin-bottom: 1%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}
.container-user-profile .right-column .location-rc .text {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 3%;
}
.container-user-profile .right-column .member-since-rc {
  margin-left: 3%;
}
.container-user-profile .right-column .member-since-rc .title-rc {
  margin-bottom: 1%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}
.container-user-profile .right-column .member-since-rc .text {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 3%;
}
.container-user-profile .right-column .things-i-love-rc {
  margin-left: 3%;
}
.container-user-profile .right-column .things-i-love-rc span {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 4%;
  color: black;
  width: 50%;
}
.container-user-profile .right-column .things-i-love-rc .title-rc {
  margin-bottom: 1%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}
.container-user-profile .right-column .things-i-love-rc .text {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 3%;
}
.container-user-profile .right-column .description-rc {
  margin-left: 3%;
  margin-top: 3%;
}
.container-user-profile .right-column .description-rc .title-rc {
  margin-bottom: 1%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}
.container-user-profile .right-column .description-rc .text {
  margin-bottom: 3%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  width: 60%;
}

/*# sourceMappingURL=userprofile.css.map */
